---
import Layout from '../components/Layout.astro';
import '../styles/main.css'
---

<Layout title="Mario Fernández-Pacheco Albandea">
	<!-- Wrapper -->
  <div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
      <h1>Mario Fernández-Pacheco Albandea</h1>
      <p>Consultant Software Developer</p>
    </header>
  </div>
</Layout>